# This file defines the code owners for the repository.
# Code owners are automatically requested for review when someone opens a pull request.

# All files are owned by the group members
*       @BarthaMaxime @DelobbeAntoine @VerscheureNicolas @GodardAlexis

# GitHub Actions workflows
.github/workflows/  @BarthaMaxime @DelobbeAntoine @VerscheureNicolas @GodardAlexis

# Documentation
*.md    @BarthaMaxime @DelobbeAntoine @VerscheureNicolas @GodardAlexis
