body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #2b2b2b, #1a1a1a);
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: white;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}